<?xml version="1.0"?>
<config>
    <modules>
        <Virtooal_MagicMirror>
            <version>1.0.1</version>
        </Virtooal_MagicMirror>
    </modules>
    <global>
    	 <models> 
            <virtooal_magicmirror>
                <class>Virtooal_MagicMirror_Model</class>
            </virtooal_magicmirror>
        </models>
         <helpers>
            <virtooal_magicmirror>
                <class>Virtooal_MagicMirror_Helper</class>
            </virtooal_magicmirror>
        </helpers>
        <blocks>
            <magicmirror>
                <class>Virtooal_MagicMirror_Block</class>
            </magicmirror>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <magicmirror>
                    <file>magicmirror.xml</file>
                </magicmirror>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <virtooal_magicmirror>
                        <type>model</type>
                        <class>virtooal_magicmirror/observer</class>
                        <method>insertBlock</method>
                    </virtooal_magicmirror>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <magicmirror>
                    <file>magicmirror.xml</file>
                </magicmirror>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magicmirror_options>
                                            <title>Store Magic Mirror Module Section</title>
                                        </magicmirror_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
				<use>admin</use>
                <args>
                    <modules>
                        <virtooal_magicmirror before="Mage_Adminhtml">Virtooal_MagicMirror_Adminhtml</virtooal_magicmirror>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>